/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');

// Colors
$Primary:#4B85FF;
$PrimaryDark:#296AEB;
$Secondary:#F9C11A;

$GreyBlueish:#B1B8C9;
$DangerColor:#F9501A;
$BgColor:#F4F7FD;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;

  li {
    list-style: none;
  }


}

body {
  background-color: $BgColor;
}

.inputfield.ng-touched.ng-invalid {
  border: 2px solid red;
}
